Oetools.Builder/Resources/Xsd/Project.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Project" nillable="true" type="OeProject">
    <xs:annotation>
      <xs:documentation><![CDATA[An Openedge project (typically, your project is your application, they are synonyms).<br>
<br>
Some facts:<br>
  - A project is composed of one or several build configurations.<br>
  - A build configuration describe how to build your project.<br>
  - To build your project, you need to specify which build configuration to use.<br>
            <br>
Below is a simplified representation of a project file:<br>
  Project<br>
  ├─ Build configuration 1<br>
  │  ├─ Child build configuration 2<br>
  │  │  ├─ Child build configuration 3<br>
  │  │  └─ Child build configuration x...<br>
  │  └─ Child build configuration x...<br>
  └─ Build configuration x...<br>
<br>
There are no upper limit for build configuration nesting.<br>
The idea is that nested build configuration inherit properties from their parent, recursively (more details on the build configuration help).]]></xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="OeProject">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="BuildConfigurations" type="ArrayOfOeBuildConfiguration">
        <xs:annotation>
          <xs:documentation><![CDATA[A list of build configurations for this project.<br>
<br>
Some facts:<br>
  - A build configuration describe how to build your application.<br>
  - A build configuration is essentially a succession of tasks (grouped into steps) that should be carried on in a sequential manner to build your application.<br>
  - Each build configuration also has properties, which are used to customize the build.<br>
  - Each build configuration can also have variables that make your build process dynamic. You can use variables anywhere in this xml. Their value can be changed dynamically without modifying this xml when running the build.<br>
            <br>
Below is a simplified representation of a build configuration:<br>
  Build configuration<br>
  ├─ Variables<br>
  ├─ Properties<br>
  ├─ Build steps<br>
  │  ├─ Step 1<br>
  │  │  ├─ Task 1<br>
  │  │  └─ Task x...<br>
  │  └─ Step x...<br>
  └─ List of children build configuration<br>
  ├─ Child build configuration 1<br>
  └─ Child build configuration x...<br>
<br>
Inheritance of build configurations (think of russian dolls):<br>
  - Each build configuration can define "children" build configurations.<br>
  - Each child inherits its parent properties following these rules:<br>
  - For a given property, the most nested value is used (i.e. child value prioritized over parent value).<br>
  - If the xml element is a list, the elements of the child (if any) will be added to the elements of the parent (if any). For instance, the steps list has this behavior. This means that the steps of a child will be added to the defined steps of its parents.<br>
            <br>
Practical example:<br>
  Given the project below:<br>
 <br>
  Project<br>
  └─ Build configuration 1<br>
     ├─ Properties<br>
        │  Property1 (x)<br>
     │  └─ Property2<br>
     ├─ Steps<br>
     │  └─ Step1 (x)<br>
     └─ Child build configuration 2<br>
        ├─ Properties<br>
        │  ├─ Property2 (x)<br>
        │  └─ Property3 (x)<br>
        └─ Steps<br>
           └─ Step2 (x)<br>
            <br>
  We decide to build 'Child build configuration 2':<br>
  - Property1 of 'Build configuration 1' will be used.<br>
  - Property2 and Property 3 of 'Build configuration 2' will be used.<br>
  - Two steps will be executed: Step1 from 'Build configuration 1' and Step2 from 'Build configuration 2'.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfOeBuildConfiguration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Configuration" nillable="true" type="OeBuildConfiguration">
        <xs:annotation>
          <xs:documentation><![CDATA[Represents the configuration of a build.<br>
<br>
Some facts:<br>
  - A build configuration describe how to build your application.<br>
  - A build configuration is essentially a succession of tasks (grouped into steps) that should be carried on in a sequential manner to build your application.<br>
  - Each build configuration also has properties, which are used to customize the build.<br>
  - Each build configuration can also have variables that make your build process dynamic. You can use variables anywhere in this xml. Their value can be changed dynamically without modifying this xml when running the build.<br>
            <br>
Below is a simplified representation of a build configuration:<br>
  Build configuration<br>
  ├─ Variables<br>
  ├─ Properties<br>
  ├─ Build steps<br>
  │  ├─ Step 1<br>
  │  │  ├─ Task 1<br>
  │  │  └─ Task x...<br>
  │  └─ Step x...<br>
  └─ List of children build configuration<br>
  ├─ Child build configuration 1<br>
  └─ Child build configuration x...<br>
<br>
Inheritance of build configurations (think of russian dolls):<br>
  - Each build configuration can define "children" build configurations.<br>
  - Each child inherits its parent properties following these rules:<br>
  - For a given property, the most nested value is used (i.e. child value prioritized over parent value).<br>
  - If the xml element is a list, the elements of the child (if any) will be added to the elements of the parent (if any). For instance, the steps list has this behavior. This means that the steps of a child will be added to the defined steps of its parents.<br>
            <br>
Practical example:<br>
  Given the project below:<br>
 <br>
  Project<br>
  └─ Build configuration 1<br>
     ├─ Properties<br>
        │  Property1 (x)<br>
     │  └─ Property2<br>
     ├─ Steps<br>
     │  └─ Step1 (x)<br>
     └─ Child build configuration 2<br>
        ├─ Properties<br>
        │  ├─ Property2 (x)<br>
        │  └─ Property3 (x)<br>
        └─ Steps<br>
           └─ Step2 (x)<br>
            <br>
  We decide to build 'Child build configuration 2':<br>
  - Property1 of 'Build configuration 1' will be used.<br>
  - Property2 and Property 3 of 'Build configuration 2' will be used.<br>
  - Two steps will be executed: Step1 from 'Build configuration 1' and Step2 from 'Build configuration 2'.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OeBuildConfiguration">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="Variables" type="ArrayOfOeVariable">
        <xs:annotation>
          <xs:documentation><![CDATA[The variables of this build configurations.<br>
<br>
Some facts:<br>
  - Variables make your build process dynamic by allowing you to change build options without having to modify this xml.<br>
  - You can use a variable with the syntax {{variable_name}}.<br>
  - Variables will be replaced by their value at run time.<br>
  - If the variable exists as an environment variable, its value will be taken in priority (this allows to overload values using environment variables).<br>
  - Non existing variables will be replaced by an empty string.<br>
  - Variables can be used in any "string type" value (this exclude numbers/booleans).<br>
  - Variables can be used in the build configuration properties and also in the build tasks.<br>
  - You can use variables in the variables definition, simply define them in the correct order.<br>
  - If several variables with the same name exist, the value of the latest defined is used.<br>
  - As this is a list of variables, child configuration will inherit variables from their parents but variable values defined in children prevail.<br>
  - Variable names are case insensitive.<br>
            <br>
Special variables are already defined and available to use:<br>
  - {{SOURCE_DIRECTORY}} the application source directory (defined in properties).<br>
  - {{PROJECT_DIRECTORY}} the project directory ({{SOURCE_DIRECTORY}}/.oe).<br>
  - {{PROJECT_LOCAL_DIRECTORY}} the project local directory ({{SOURCE_DIRECTORY}}/.oe/local).<br>
  - {{DLC}} the dlc path used for the current build.<br>
  - {{OUTPUT_DIRECTORY}} the build output directory (default to {{SOURCE_DIRECTORY}}/.oe/bin).<br>
  - {{CONFIGURATION_NAME}} the build configuration name for the current build.<br>
  - {{CURRENT_DIRECTORY}} the current directory.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Properties" type="OeProperties">
        <xs:annotation>
          <xs:documentation><![CDATA[The properties of this build configuration.<br>
<br>
Some facts:<br>
  - Properties can describe your application (for instance, the database needed to compile).<br>
  - Properties can also describe options to build your application (for instance, if the compilation should also generate the xref files).<br>
  - Properties are inherited from parent build configuration (if any).<br>
  - For instance, this allows to define a DLC (v11) path for the project to use as default, and have a child configuration that overload this value using another DLC (v9) path.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BuildSteps" type="ArrayOfChoice3">
        <xs:annotation>
          <xs:documentation><![CDATA[A list of steps to build your application.<br>
<br>
Some facts:<br>
  - Each step contains a list of tasks.<br>
  - The sequential execution of these steps/tasks is called a build.<br>
  - Steps (and tasks within them) are executed sequentially in the order they were defined.<br>
  - A child configuration inherit the steps of its parent: they are executed before its own steps.<br>
            <br>
There are 3 kinds of steps:<br>
  - 'BuildSource' with tasks that will handle the files in your source directory (for instance, to compile procedures or copy configuration files).<br>
  - 'BuildOutput' with tasks that will handle the files in the build output directory (for instance, to create a .zip release of compiled files).<br>
  - 'Free' with tasks that will handle files outside of your source or output directory (for instance, to download dependencies before the compilation).]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ChildrenBuildConfigurations" type="ArrayOfOeBuildConfiguration">
        <xs:annotation>
          <xs:documentation><![CDATA[A list of children build configurations, each will inherit the properties defined in this one.<br>
<br>
Some facts:<br>
  - A build configuration describe how to build your application.<br>
  - A build configuration is essentially a succession of tasks (grouped into steps) that should be carried on in a sequential manner to build your application.<br>
  - Each build configuration also has properties, which are used to customize the build.<br>
  - Each build configuration can also have variables that make your build process dynamic. You can use variables anywhere in this xml. Their value can be changed dynamically without modifying this xml when running the build.<br>
            <br>
Below is a simplified representation of a build configuration:<br>
  Build configuration<br>
  ├─ Variables<br>
  ├─ Properties<br>
  ├─ Build steps<br>
  │  ├─ Step 1<br>
  │  │  ├─ Task 1<br>
  │  │  └─ Task x...<br>
  │  └─ Step x...<br>
  └─ List of children build configuration<br>
  ├─ Child build configuration 1<br>
  └─ Child build configuration x...<br>
<br>
Inheritance of build configurations (think of russian dolls):<br>
  - Each build configuration can define "children" build configurations.<br>
  - Each child inherits its parent properties following these rules:<br>
  - For a given property, the most nested value is used (i.e. child value prioritized over parent value).<br>
  - If the xml element is a list, the elements of the child (if any) will be added to the elements of the parent (if any). For instance, the steps list has this behavior. This means that the steps of a child will be added to the defined steps of its parents.<br>
            <br>
Practical example:<br>
  Given the project below:<br>
 <br>
  Project<br>
  └─ Build configuration 1<br>
     ├─ Properties<br>
        │  Property1 (x)<br>
     │  └─ Property2<br>
     ├─ Steps<br>
     │  └─ Step1 (x)<br>
     └─ Child build configuration 2<br>
        ├─ Properties<br>
        │  ├─ Property2 (x)<br>
        │  └─ Property3 (x)<br>
        └─ Steps<br>
           └─ Step2 (x)<br>
            <br>
  We decide to build 'Child build configuration 2':<br>
  - Property1 of 'Build configuration 1' will be used.<br>
  - Property2 and Property 3 of 'Build configuration 2' will be used.<br>
  - Two steps will be executed: Step1 from 'Build configuration 1' and Step2 from 'Build configuration 2'.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
    <xs:attribute name="Name" type="xs:string">
      <xs:annotation>
        <xs:documentation><![CDATA[The name of this configuration. Purely informative.]]></xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ArrayOfOeVariable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Variable" nillable="true" type="OeVariable">
        <xs:annotation>
          <xs:documentation><![CDATA[A variable to use in a build configuration.<br>
<br>
Some facts:<br>
  - Variables make your build process dynamic by allowing you to change build options without having to modify this xml.<br>
  - You can use a variable with the syntax {{variable_name}}.<br>
  - Variables will be replaced by their value at run time.<br>
  - If the variable exists as an environment variable, its value will be taken in priority (this allows to overload values using environment variables).<br>
  - Non existing variables will be replaced by an empty string.<br>
  - Variables can be used in any "string type" value (this exclude numbers/booleans).<br>
  - Variables can be used in the build configuration properties and also in the build tasks.<br>
  - You can use variables in the variables definition, simply define them in the correct order.<br>
  - If several variables with the same name exist, the value of the latest defined is used.<br>
  - As this is a list of variables, child configuration will inherit variables from their parents but variable values defined in children prevail.<br>
  - Variable names are case insensitive.<br>
            <br>
Special variables are already defined and available to use:<br>
  - {{SOURCE_DIRECTORY}} the application source directory (defined in properties).<br>
  - {{PROJECT_DIRECTORY}} the project directory ({{SOURCE_DIRECTORY}}/.oe).<br>
  - {{PROJECT_LOCAL_DIRECTORY}} the project local directory ({{SOURCE_DIRECTORY}}/.oe/local).<br>
  - {{DLC}} the dlc path used for the current build.<br>
  - {{OUTPUT_DIRECTORY}} the build output directory (default to {{SOURCE_DIRECTORY}}/.oe/bin).<br>
  - {{CONFIGURATION_NAME}} the build configuration name for the current build.<br>
  - {{CURRENT_DIRECTORY}} the current directory.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OeVariable">
    <xs:attribute name="Name" type="xs:string">
      <xs:annotation>
        <xs:documentation><![CDATA[The variable name. Can then be used as follows: {{variable_name}}.]]></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="Value" type="xs:string">
      <xs:annotation>
        <xs:documentation><![CDATA[The variable value.]]></xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="OeProperties">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="DlcDirectoryPath" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The path to the directory containing the installation of openedge.<br>
Commonly known as the DLC directory.<br>
<br>
It should contain, among many other things, a "bin" directory where the openedge executables are located.<br>
<br>
<b>Defaults to:</b> $DLC (openedge installation directory).]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ProjectDatabases" type="ArrayOfOeProjectDatabase">
        <xs:annotation>
          <xs:documentation><![CDATA[A list of all the openedge databases used by your project (couple of logical name + data definition file path).<br>
This list should contain all the databases necessary to compile your application.<br>
<br>
The databases specified in this property will be automatically generated during a build (temporary databases).<br>
The idea is to version .df files (data definition files) and to have a fully buildable application from a checkout.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExtraDatabaseConnectionString" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[A database connection string that will be used to connect to extra databases before a build.<br>
<br>
This obviously requires existing databases.<br>
Most of the time, it is simpler to use the ProjectDatabase option instead of this one and let the tool generate the necessary databases.<br>
This property is used in the following openedge statement: CONNECT VALUE(this_property).<br>
<br>
<b>Examples:</b><br>
  -db base1 -ld mylogicalName1 -H 127.0.0.1 -S 1024<br>
  -db C:\wrk\sport2000.db -1 -ld mydb<br>
  -pf C:\mypath\db.pf]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AppendMaxConnectionTryToConnectionString" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Indicates if this tool should automatically add a max connection try of 1 (-ct 1 parameter) to the connection strings.<br>
<br>
This allows to quickly fail if a database is unavailable instead of letting the openedge client try to connect multiple times.<br>
<br>
<b>Defaults to:</b> True.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="DatabaseAliases" type="ArrayOfOeDatabaseAlias">
        <xs:annotation>
          <xs:documentation><![CDATA[A list of database aliases needed in your project (couple of logical name + alias name).<br>
<br>
This is useful when your code references several aliases of a single database.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IniFilePath" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The path to the .ini file used by your project.<br>
<br>
.ini files are specific to the windows platform.<br>
.ini files are typically used to define COLORS and FONTS for GUI applications.<br>
The font definition are required to correctly compiled .w files.<br>
The section [STARTUP] and key [PROPATH] is read and appended to the compilation propath.<br>
It is advised to version a neutral .ini file with a blank propath in order to allow the compilation of a GUI application.<br>
Relative path are resolved with the current directory but you can use {{SOURCE_DIRECTORY}} to target the source directory.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PropathEntries" type="ArrayOfOePropathEntry">
        <xs:annotation>
          <xs:documentation><![CDATA[A list of paths to add to the propath during the build.<br>
<br>
This list should include all the directories containing the include files necessary to compile your application.<br>
This typically include pro library (.pl) file path or directories.<br>
Relative path are resolved with the current directory but you can use {{SOURCE_DIRECTORY}} to target the source directory.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AddAllSourceDirectoriesToPropath" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Indicates if all the directories in the source directory should be added to the compilation propath.<br>
<br>
The idea is to use this option instead of manually specifying the compilation propath (for lazy people only).<br>
<br>
<b>Defaults to:</b> True.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="PropathSourceDirectoriesFilter" type="OePropathFilterOptions">
        <xs:annotation>
          <xs:documentation><![CDATA[The filtering options for the automatic listing of directories in the source directory (to use as propath).]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="UseCharacterModeExecutable" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Force the use of the openedge character mode on windows platform.<br>
<br>
Typically, this option will make the build process use the "_progres.exe" executable instead of "prowin.exe".<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AddDefaultOpenedgePropath" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Adds the gui (or tty if character mode) directory to the propath.<br>
Also adds the pro library files in this directory to the propath.<br>
Also adds the dlc and dlc/bin directories.<br>
<br>
This is the equivalent of the default propath set by openedge.<br>
<br>
<b>Defaults to:</b> True.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ExtraOpenedgeCommandLineParameters" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Command line parameters to add when using the openedge executable (_progres or prowin).<br>
The available parameters for your version of openedge are available in the reference help, topic "Startup Parameter Descriptions".<br>
<br>
<b>Examples:</b><br>
  -inp 9999<br>
  -s 500<br>
  -assemblies "/root/assemblies/"<br>
  -NL -cwl -k]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ProcedureToExecuteBeforeAnyProgressExecutionFilePath" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[File path to an openedge procedure that will be executed for each new openedge session used (when using _progres or prowin).<br>
<br>
This procedure is called with a simple RUN statement and must not have any parameters.<br>
<br>
<b>Examples:</b><br>
  This feature can be used to connected databases, create aliases or add paths to the propath before a compilation and using a custom logic.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ProcedurePathToExecuteAfterAnyProgressExecution" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[File path to an openedge procedure that will be executed at the end of each new openedge session used (when using _progres or prowin).<br>
<br>
This procedure is called with a simple RUN statement and must not have any parameters.<br>
It should be used to "clean up" any custom logic put in place with the procedure execution at the beginning of the session.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OpenedgeCodePage" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The code page to use for input/output with openedge processes.<br>
This will default to the value read for -cpstream or -cpinternal in the file $DLC/startup.pf.<br>
<br>
This property should be configured if you encounter wrong characters (wrong encoding) in the console.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TryToHideProcessFromTaskBarOnWindows" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Only on windows, try to hide the prowin.exe process from the windows task bar.<br>
<br>
For some reasons, the prowin.exe executable started in batch mode (-b) systematically creates a new window. That window is hidden but it still appears in the task bar. Weirdly enough, starting prowin.exe without the -b parameter does not show any window. However we need the batch mode to correctly redirect runtime errors (otherwise it should show the errors in an alert-box).<br>
As a workaround, we wait for the prowin.exe to start and to create its window and then we hide it using widows API so it does not appear in the task bar.<br>
This option might not be needed later on, if this behavior is fixed.<br>
<br>
<b>Defaults to:</b> True.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OpenedgeTemporaryDirectoryPath" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The temporary directory to use for an openedge session.<br>
<br>
This is the directory used in the -T startup parameter for the openedge session.<br>
This directory is also used to store temporary files needed for the compilation and for the interface between openedge and this tool.<br>
<br>
<b>Defaults to:</b> $TEMP/.oe_tmp/xxx (temporary folder).]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CompilationOptions" type="OeCompilationOptions">
        <xs:annotation>
          <xs:documentation><![CDATA[The options to use to compile your application.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BuildOptions" type="OeBuildOptions">
        <xs:annotation>
          <xs:documentation><![CDATA[The options used when building your application.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="ArrayOfOeProjectDatabase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectDatabase" nillable="true" type="OeProjectDatabase">
        <xs:annotation>
          <xs:documentation><![CDATA[An openedge database representation, consisting of a data definition file and the database logical name.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OeProjectDatabase">
    <xs:attribute name="LogicalName" type="xs:string">
      <xs:annotation>
        <xs:documentation><![CDATA[The logical name of the database.<br>
<br>
This is the database name used in the code.]]></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="DataDefinitionFilePath" type="xs:string">
      <xs:annotation>
        <xs:documentation><![CDATA[The path to the data definition (.df) file representing the schema of your database.<br>
<br>
From this file, the tool is able to generate a temporary database used to compile your application.]]></xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ArrayOfOeDatabaseAlias">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alias" nillable="true" type="OeDatabaseAlias">
        <xs:annotation>
          <xs:documentation><![CDATA[A database logical name / alias couple.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OeDatabaseAlias">
    <xs:attribute name="DatabaseLogicalName" type="xs:string">
      <xs:annotation>
        <xs:documentation><![CDATA[The database logical name for which to create the alias.]]></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="AliasLogicalName" type="xs:string">
      <xs:annotation>
        <xs:documentation><![CDATA[The alias name to give to the database.]]></xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ArrayOfOePropathEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Entry" nillable="true" type="OePropathEntry">
        <xs:annotation>
          <xs:documentation><![CDATA[An entry to add to the propath.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OePropathEntry">
    <xs:simpleContent>
      <xs:extension base="xs:string" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="OePropathFilterOptions">
    <xs:complexContent mixed="false">
      <xs:extension base="PathListerFilterOptions">
        <xs:all>
          <xs:element minOccurs="0" maxOccurs="1" name="PropathInclude" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[A path pattern that describes paths that should be included by this filter.<br>
<br>
Several pattern can be used, separate them with a semi-colon (i.e. ;).<br>
Internally, each pattern is turned into a valid regular expression.<br>
If a file is matched by several patterns, only the first one will be used.<br>
 <br>
The following symbols can be used in patterns:<br>
<br>
- ** will match any char any number of time (corresponds to a regex greedy match)<br>
- * will match only non path separators any time (can be used to match any file name)<br>
- ? matches non path separators exactly 1 time<br>
- (( will start capturing characters (equivalent to regex capturing parenthesis)<br>
- )) will stop capturing characters<br>
- || will corresponds to a "or" in a captured context (equivalent to | in regex)<br>
<br>
<b>Examples:</b><br>
  ** will match any path.<br>
  ((C:\**))((*.txt)) will match any txt file in C:\ and also captures the full path (group 1) as well as the file name (group 2).]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="PropathIncludeRegex" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[A regular expression that describes paths that should be included by this filter.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="PropathExclude" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[A path pattern that describes paths that should be excluded by this filter.<br>
<br>
Several pattern can be used, separate them with a semi-colon (i.e. ;).<br>
Internally, each pattern is turned into a valid regular expression.<br>
If a file is matched by several patterns, only the first one will be used.<br>
 <br>
The following symbols can be used in patterns:<br>
<br>
- ** will match any char any number of time (corresponds to a regex greedy match)<br>
- * will match only non path separators any time (can be used to match any file name)<br>
- ? matches non path separators exactly 1 time<br>
- (( will start capturing characters (equivalent to regex capturing parenthesis)<br>
- )) will stop capturing characters<br>
- || will corresponds to a "or" in a captured context (equivalent to | in regex)<br>
<br>
<b>Examples:</b><br>
  ** will match any path.<br>
  ((C:\**))((*.txt)) will match any txt file in C:\ and also captures the full path (group 1) as well as the file name (group 2).]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="PropathExcludeRegex" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[A regular expression that describes paths that should be excluded by this filter.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="PropathExcludeHiddenDirectories" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:documentation><![CDATA[Whether or not to ignore hidden directories during the listing.<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="PropathRecursiveListing" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:documentation><![CDATA[Whether or not to include the content of subdirectories when listing.<br>
<br>
<b>Defaults to:</b> True.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="PropathExtraVcsPatternExclusion" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[Extra patterns of path to exclude during a listing, corresponds to typical svn/git directories that we don't want to include in a build.<br>
<br>
The pattern are relative to the source directory.<br>
<br>
<b>Defaults to:</b> .git**;.svn**;.oe**.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PathListerFilterOptions" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeTaskFilter" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AOeTaskFilter" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeTask" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AOeTask" abstract="true">
    <xs:attribute name="Name" type="xs:string">
      <xs:annotation>
        <xs:documentation><![CDATA[The name of this task. Purely informative.]]></xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AOeTaskTargetsRemover">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeTask" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OeTaskReflectDeletedTargets">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeTaskTargetsRemover" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OeTaskReflectDeletedSourceFile">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeTaskTargetsRemover" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OeTaskExec">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeTask">
        <xs:all>
          <xs:element minOccurs="0" maxOccurs="1" name="ExecutableFilePath" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[The path to the executable file.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="Parameters" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[The command line parameters for the execution.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="HiddenExecution" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:documentation><![CDATA[Hide the execution (do not show a window).]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="MaxTimeOut" nillable="true" type="xs:int">
            <xs:annotation>
              <xs:documentation><![CDATA[The maximum time in milliseconds before aborting the execution.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="DoNotRedirectOutput" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:documentation><![CDATA[Do not redirect the executable standard and error output to the log.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="IgnoreExitCode" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:documentation><![CDATA[Do not consider exit code different than 0 as a failed execution.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="FailOnErrorOutput" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:documentation><![CDATA[Finish this task in error if the executable wrote in the error output stream. ]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="WorkingDirectory" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[The directory to use as the working directory for the execution.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AOeTaskFilterAttributes" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeTaskFilter">
        <xs:attribute name="Include" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[A path pattern that describes paths that should be processed by this task.<br>
<br>
Several pattern can be used, separate them with a semi-colon (i.e. ;).<br>
Internally, each pattern is turned into a valid regular expression.<br>
If a file is matched by several patterns, only the first one will be used.<br>
 <br>
The following symbols can be used in patterns:<br>
<br>
- ** will match any char any number of time (corresponds to a regex greedy match)<br>
- * will match only non path separators any time (can be used to match any file name)<br>
- ? matches non path separators exactly 1 time<br>
- (( will start capturing characters (equivalent to regex capturing parenthesis)<br>
- )) will stop capturing characters<br>
- || will corresponds to a "or" in a captured context (equivalent to | in regex)<br>
<br>
<b>Examples:</b><br>
  ** will match any path.<br>
  ((C:\**))((*.txt)) will match any txt file in C:\ and also captures the full path (group 1) as well as the file name (group 2).]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="IncludeRegex" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[A regular expression path pattern that describes paths that should be processed by this task.]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="Exclude" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[A path pattern that describes paths that should be excluded from being processed by this task.<br>
<br>
Several pattern can be used, separate them with a semi-colon (i.e. ;).<br>
Internally, each pattern is turned into a valid regular expression.<br>
If a file is matched by several patterns, only the first one will be used.<br>
 <br>
The following symbols can be used in patterns:<br>
<br>
- ** will match any char any number of time (corresponds to a regex greedy match)<br>
- * will match only non path separators any time (can be used to match any file name)<br>
- ? matches non path separators exactly 1 time<br>
- (( will start capturing characters (equivalent to regex capturing parenthesis)<br>
- )) will stop capturing characters<br>
- || will corresponds to a "or" in a captured context (equivalent to | in regex)<br>
<br>
<b>Examples:</b><br>
  ** will match any path.<br>
  ((C:\**))((*.txt)) will match any txt file in C:\ and also captures the full path (group 1) as well as the file name (group 2).]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ExcludeRegex" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[A regular expression path pattern that describes paths that should be excluded from being processed by this task.]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AOeTaskFile" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeTaskFilterAttributes" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AOeTaskFileArchiverArchive" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeTaskFile" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OeTaskFileArchiverArchiveProlib">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeTaskFileArchiverArchive">
        <xs:attribute name="TargetProlibFilePath" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[The path to the targeted prolib file.<br>
<br>
Several target paths can be used, separate them with a semi-colon (i.e. ;).<br>
Each target path can use special placeholders:<br>
- {{FILE_SOURCE_DIRECTORY}} will be replaced by the source directory of the file processed<br>
- {{group_name}} will be replaced by the value captured in group "group_name"<br>
<br>
<b>Examples:</b><br>
  Having "((C:\folder\**))((*.txt))" as an include pattern<br>
  and "D:\pre_{{2}}.raw" as the target,<br>
  for the file "C:\folder\myfile.txt", we will have the target "D:\pre_myfile.raw".<br>
  (note: In this example, the captured group 1 was not used)]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="RelativeTargetFilePath" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[The relative target file path inside the archive.<br>
<br>
Several target paths can be used, separate them with a semi-colon (i.e. ;).<br>
Each target path can use special placeholders:<br>
- {{FILE_SOURCE_DIRECTORY}} will be replaced by the source directory of the file processed<br>
- {{group_name}} will be replaced by the value captured in group "group_name"<br>
<br>
<b>Examples:</b><br>
  Having "((C:\folder\**))((*.txt))" as an include pattern<br>
  and "D:\pre_{{2}}.raw" as the target,<br>
  for the file "C:\folder\myfile.txt", we will have the target "D:\pre_myfile.raw".<br>
  (note: In this example, the captured group 1 was not used)]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="RelativeTargetDirectory" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[The relative target directory inside the archive.<br>
<br>
Several target paths can be used, separate them with a semi-colon (i.e. ;).<br>
Each target path can use special placeholders:<br>
- {{FILE_SOURCE_DIRECTORY}} will be replaced by the source directory of the file processed<br>
- {{group_name}} will be replaced by the value captured in group "group_name"<br>
<br>
<b>Examples:</b><br>
  Having "((C:\folder\**))((*.txt))" as an include pattern<br>
  and "D:\pre_{{2}}.raw" as the target,<br>
  for the file "C:\folder\myfile.txt", we will have the target "D:\pre_myfile.raw".<br>
  (note: In this example, the captured group 1 was not used)]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="ProlibVersion" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[The version to use for the pro library file.<br>
<br>
<b>Available options are:</b> Default or V7Standard or V8MemoryMapped or V11Standard or V12MemoryMapped.]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="FilePathCodePage" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[The openedge codepage to use for file path encoding inside the pro library.]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OeTaskFileArchiverArchiveProlibCompile">
    <xs:complexContent mixed="false">
      <xs:extension base="OeTaskFileArchiverArchiveProlib" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OeTaskFileCopy">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeTaskFileArchiverArchive">
        <xs:attribute name="TargetFilePath" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[The relative target file path inside the archive.<br>
<br>
Several target paths can be used, separate them with a semi-colon (i.e. ;).<br>
Each target path can use special placeholders:<br>
- {{FILE_SOURCE_DIRECTORY}} will be replaced by the source directory of the file processed<br>
- {{group_name}} will be replaced by the value captured in group "group_name"<br>
<br>
<b>Examples:</b><br>
  Having "((C:\folder\**))((*.txt))" as an include pattern<br>
  and "D:\pre_{{2}}.raw" as the target,<br>
  for the file "C:\folder\myfile.txt", we will have the target "D:\pre_myfile.raw".<br>
  (note: In this example, the captured group 1 was not used)]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="TargetDirectory" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[The relative target directory inside the archive.<br>
<br>
Several target paths can be used, separate them with a semi-colon (i.e. ;).<br>
Each target path can use special placeholders:<br>
- {{FILE_SOURCE_DIRECTORY}} will be replaced by the source directory of the file processed<br>
- {{group_name}} will be replaced by the value captured in group "group_name"<br>
<br>
<b>Examples:</b><br>
  Having "((C:\folder\**))((*.txt))" as an include pattern<br>
  and "D:\pre_{{2}}.raw" as the target,<br>
  for the file "C:\folder\myfile.txt", we will have the target "D:\pre_myfile.raw".<br>
  (note: In this example, the captured group 1 was not used)]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OeTaskFileCompile">
    <xs:complexContent mixed="false">
      <xs:extension base="OeTaskFileCopy" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OeTaskFileArchiverArchiveCab">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeTaskFileArchiverArchive">
        <xs:attribute name="TargetCabFilePath" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[The path to the targeted archive.<br>
<br>
Several target paths can be used, separate them with a semi-colon (i.e. ;).<br>
Each target path can use special placeholders:<br>
- {{FILE_SOURCE_DIRECTORY}} will be replaced by the source directory of the file processed<br>
- {{group_name}} will be replaced by the value captured in group "group_name"<br>
<br>
<b>Examples:</b><br>
  Having "((C:\folder\**))((*.txt))" as an include pattern<br>
  and "D:\pre_{{2}}.raw" as the target,<br>
  for the file "C:\folder\myfile.txt", we will have the target "D:\pre_myfile.raw".<br>
  (note: In this example, the captured group 1 was not used)]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="RelativeTargetFilePath" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[The relative target file path inside the archive.<br>
<br>
Several target paths can be used, separate them with a semi-colon (i.e. ;).<br>
Each target path can use special placeholders:<br>
- {{FILE_SOURCE_DIRECTORY}} will be replaced by the source directory of the file processed<br>
- {{group_name}} will be replaced by the value captured in group "group_name"<br>
<br>
<b>Examples:</b><br>
  Having "((C:\folder\**))((*.txt))" as an include pattern<br>
  and "D:\pre_{{2}}.raw" as the target,<br>
  for the file "C:\folder\myfile.txt", we will have the target "D:\pre_myfile.raw".<br>
  (note: In this example, the captured group 1 was not used)]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="RelativeTargetDirectory" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[The relative target directory inside the archive.<br>
<br>
Several target paths can be used, separate them with a semi-colon (i.e. ;).<br>
Each target path can use special placeholders:<br>
- {{FILE_SOURCE_DIRECTORY}} will be replaced by the source directory of the file processed<br>
- {{group_name}} will be replaced by the value captured in group "group_name"<br>
<br>
<b>Examples:</b><br>
  Having "((C:\folder\**))((*.txt))" as an include pattern<br>
  and "D:\pre_{{2}}.raw" as the target,<br>
  for the file "C:\folder\myfile.txt", we will have the target "D:\pre_myfile.raw".<br>
  (note: In this example, the captured group 1 was not used)]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="CompressionLevel" type="xs:string">
          <xs:annotation>
            <xs:documentation><![CDATA[The compression level to use for the cabinet file.<br>
<br>
<b>Available options are:</b> None or Fastest or Optimal.]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OeTaskFileArchiverArchiveCabCompile">
    <xs:complexContent mixed="false">
      <xs:extension base="OeTaskFileArchiverArchiveCab" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OeTaskFileDelete">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeTaskFile" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AOeTaskDirectory" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeTaskFilterAttributes" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OeTaskDirectoryDelete">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeTaskDirectory" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OeSourceFilterOptions">
    <xs:complexContent mixed="false">
      <xs:extension base="PathListerFilterOptions">
        <xs:all>
          <xs:element minOccurs="0" maxOccurs="1" name="SourceInclude" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[A path pattern that describes paths that should be included by this filter.<br>
<br>
Several pattern can be used, separate them with a semi-colon (i.e. ;).<br>
Internally, each pattern is turned into a valid regular expression.<br>
If a file is matched by several patterns, only the first one will be used.<br>
 <br>
The following symbols can be used in patterns:<br>
<br>
- ** will match any char any number of time (corresponds to a regex greedy match)<br>
- * will match only non path separators any time (can be used to match any file name)<br>
- ? matches non path separators exactly 1 time<br>
- (( will start capturing characters (equivalent to regex capturing parenthesis)<br>
- )) will stop capturing characters<br>
- || will corresponds to a "or" in a captured context (equivalent to | in regex)<br>
<br>
<b>Examples:</b><br>
  ** will match any path.<br>
  ((C:\**))((*.txt)) will match any txt file in C:\ and also captures the full path (group 1) as well as the file name (group 2).]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="SourceIncludeRegex" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[A regular expression that describes paths that should be included by this filter.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="SourceExclude" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[A path pattern that describes paths that should be excluded by this filter.<br>
<br>
Several pattern can be used, separate them with a semi-colon (i.e. ;).<br>
Internally, each pattern is turned into a valid regular expression.<br>
If a file is matched by several patterns, only the first one will be used.<br>
 <br>
The following symbols can be used in patterns:<br>
<br>
- ** will match any char any number of time (corresponds to a regex greedy match)<br>
- * will match only non path separators any time (can be used to match any file name)<br>
- ? matches non path separators exactly 1 time<br>
- (( will start capturing characters (equivalent to regex capturing parenthesis)<br>
- )) will stop capturing characters<br>
- || will corresponds to a "or" in a captured context (equivalent to | in regex)<br>
<br>
<b>Examples:</b><br>
  ** will match any path.<br>
  ((C:\**))((*.txt)) will match any txt file in C:\ and also captures the full path (group 1) as well as the file name (group 2).]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="SourceExcludeRegex" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[A regular expression that describes paths that should be excluded by this filter.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="SourceExcludeHiddenDirectories" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:documentation><![CDATA[Whether or not to ignore hidden directories during the listing.<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="SourceRecursiveListing" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:documentation><![CDATA[Whether or not to include the content of subdirectories when listing.<br>
<br>
<b>Defaults to:</b> True.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="SourceExtraVcsPatternExclusion" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[Extra patterns of path to exclude during a listing, corresponds to typical svn/git directories that we don't want to include in a build.<br>
<br>
The pattern are relative to the source directory.<br>
<br>
<b>Defaults to:</b> .git**;.svn**;.oe**.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="SourceOverrideFileList" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[A direct list of files to use as sources. <br>
<br>
Several paths can be given by separating them with a semi-colon (i.e. ;).<br>
This option overrides every other options in this filter, the paths listed here are directly used as results of this filter.<br>
Non existing paths are simply ignored.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OeCompilationOptions">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="CompileWithDebugList" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Use the DEBUG-LIST option in the COMPILE statement.<br>
<br>
If true, the compilation process will generate a debugfile (.dbg) that consists of a line-numbered listing of the procedure with the text of all preprocessor include files, names, and parameters inserted.<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CompileWithXref" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Use the XREF option in the COMPILE statement.<br>
<br>
If true, the compilation process will generate an xref file (.xrf) that contains reference information on ABL elements, cross-references between procedures and ABL objects, and cross-references between class or interface definition files and ABL objects.<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CompileWithXmlXref" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Use the XREF-XML option in the COMPILE statement.<br>
This option is only available since openedge 10.2.<br>
<br>
If true, the compilation process will generate an xref file (.xrf.xml) in XML format that contains reference information on ABL elements, cross-references between procedures and ABL objects, and cross-references between class or interface definition files and ABL objects.<br>
This option cannot be used simultaneously with the XREF option.<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CompileWithListing" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Use the LISTING option in the COMPILE statement.<br>
<br>
If true, the compilation process will produce a file (.lis) including:<br>
- The name of the file containing the procedure or class you compile <br>
- The date and time at the start of the compilation <br>
- The number of each line in the procedure or class file <br>
- The block number where each statement belongs <br>
- The complete text of all include files (except encrypted include files) and the names of any sub-procedures and user-defined functions <br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CompileWithPreprocess" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Use the PREPROCESS option in the COMPILE statement.<br>
<br>
If true, the compilation process will generate a file (.preprocessed) that contains a final version of your source code after all include files have been inserted and all text substitutions have been performed.<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="UseCompilerMultiCompile" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Use the MULTI-COMPILE option in the COMPILE statement.<br>
This option is only available since openedge 10.2.<br>
<br>
When set to TRUE, ABL compiles only those class definition files in the inherited class hierarchy that are not found in the cache. ABL also caches any classes or interfaces it compiles to avoid recompiling them during the session.<br>
When set to FALSE, ABL compiles all class definition files in the inherited class hierarchy. ABL also clears the cache of any classes or interfaces compiled during the session. The default value is FALSE.<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CompileOptions" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Control the behavior of the openedge compiler, allowing to compile with different options.<br>
This option is only available since openedge 11.7.<br>
<br>
The options are set and stored as a comma-separated list.<br>
The acceptable values in openedge 11.7 are:<br>
- require-full-names<br>
- require-field-qualifiers<br>
- require-full-keywords.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CompileStatementExtraOptions" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[Sets extra COMPILE options to use in the COMPILE statement.<br>
<br>
Use this property to specify a COMPILE option that is not managed by this tool.<br>
<br>
<b>Examples:</b><br>
  MIN-SIZE = TRUE<br>
  XCODE = "progress"<br>
  GENERATE-MD5 = TRUE<br>
  LANGUAGES (French-Canadian:French:English,Portuguese:Spanish,New-York:American:English)]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TryToOptimizeCompilationDirectory" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Try to find the best location to compile an rcode instead of using the default temporary directory.<br>
<br>
By default, all rcode generated are saved in the temporary directory and then moved to the different target locations. This might result in unnecessary delays and can be avoided by saving the rcode directly to the target location. This option allows the tool to make this small simplification when it makes sense.<br>
<br>
<b>Defaults to:</b> True.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CompilableFileExtensionPattern" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[A comma-separated list of file extension patterns that represent ABL compilable files.<br>
<br>
This is a default filter that is used for each "compile" task and which allows to process only certain types of files. <br>
<br>
<b>Defaults to:</b> *.p;*.w;*.t;*.cls.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="NumberProcessPerCore" nillable="true" type="xs:unsignedByte">
        <xs:annotation>
          <xs:documentation><![CDATA[The number of openedge process to start simultaneously per core (on your computer) in order to compile your application.<br>
<br>
To speed up the compilation process, this tool can start parallel openedge processes to compile your application.<br>
This option allows to fine tune the number of processes to start.<br>
<br>
<b>Defaults to:</b> 1.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ForceSingleProcess" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Use a single process to compile your application.<br>
<br>
This option overload the default behavior of this tool, that aims to use parallel processes to speed up the compilation process.<br>
This can be useful for low end machines or when connecting to a database in mono-user (-1 parameter).<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="MinimumNumberOfFilesPerProcess" nillable="true" type="xs:int">
        <xs:annotation>
          <xs:documentation><![CDATA[The minimum number of files that needs to be allocated to one of the processes before justifying the use of a new process.<br>
<br>
This option exists because there would be an important overhead to start 2 openedge processes to compile only 2 files.<br>
<br>
<b>Defaults to:</b> 10.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="OeBuildOptions">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="SourceDirectoryPath" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The source directory of your application. Should be left empty in most cases.<br>
<br>
You cannot use variables in this property.<br>
<br>
<b>Defaults to:</b> $PWD (current directory).]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="OutputDirectoryPath" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The output directory for the build.<br>
<br>
Relative paths in the targets of tasks will be resolved from this directory. This is only available when building the source or the output.<br>
<br>
<b>Defaults to:</b> {{SOURCE_DIRECTORY}}\bin.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SourceToBuildFilter" type="OeSourceFilterOptions">
        <xs:annotation>
          <xs:documentation><![CDATA[The filtering options for the source files of your application that need to be built.<br>
<br>
For instance, this allows to exclude path from being considered as source files (e.g. a docs/ directory). Non source files will not be built during the source build tasks.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="IncrementalBuildOptions" type="OeIncrementalBuildOptions">
        <xs:annotation>
          <xs:documentation><![CDATA[Sets whether or not the incremental build should be used.<br>
An incremental build improves the build process by only compiling and building source files that were modified or added since the last build. It is the opposite of a full rebuild.<br>
<br>
- The incremental build only concerns source files handled in a source build step.<br>
- If true, a build history is stored (in .xml format) to be able to know which file has been modified/added since the last build.<br>
- An analysis is done on compiled files to find referenced tables and files.<br>
- The MD5 checksum of each source file can be computed and saved to improve modification detection.<br>
- Depending on your build and your intentions, this can significantly improve the build performances or slow down systematic full rebuilds.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="SourceToBuildGitFilter" type="OeGitFilterOptions">
        <xs:annotation>
          <xs:documentation><![CDATA[Instead of a full rebuild or an incremental rebuild, use GIT to identify which files will be built.<br>
<br>
This option required GIT to be installed and available in your system PATH.<br>
The idea behind this option is to build files depending on the changes made in GIT. For instance, rebuilding files modified/added since the last commit. It allows to check if recent changes in a GIT repository introduces bugs.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="FullRebuild" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Build all the source files, ignoring the incremental build options and the GIT filter options.<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ReportHtmlFilePath" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The path to an html report file that will contain human-readable information about this build.<br>
<br>
<b>Defaults to:</b> {{PROJECT_LOCAL_DIRECTORY}}\build\latest.html.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BuildConfigurationExportFilePath" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The path to an xml file that will contain the exported build configuration for this build.<br>
<br>
<b>Defaults to:</b> {{PROJECT_LOCAL_DIRECTORY}}\build\latest.oeproj.xml.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="StopBuildOnTaskError" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Sets whether or not the build must be stopped if a task generates warnings.<br>
<br>
<b>Defaults to:</b> True.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="StopBuildOnTaskWarning" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Sets whether or not the build must be stopped if a task generates warnings.<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="StopBuildOnCompilationError" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Sets whether or not the build must be stopped if a file fails to compile.<br>
<br>
<b>Defaults to:</b> True.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="StopBuildOnCompilationWarning" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Sets whether or not the build must be stopped if a file compiles with warnings.<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ShutdownCompilationDatabasesAfterBuild" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Sets whether or not the tool should shutdown the temporary databases created and started for the compilation (if any).<br>
<br>
Shutting down an openedge database is a really slow process and it should be avoided if you intent to build files several times consecutively.<br>
<br>
<b>Defaults to:</b> True.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="AllowDatabaseShutdownByProcessKill" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Sets whether or not the tool is allowed to shutdown temporary databases by killing the _mprosrv.<br>
<br>
Shutting down an openedge database is a really slow process, this option speeds up the shutdown drastically. The database broker is killed instead of being properly shutdown. Since the tool uses temporary databases and since those databases are only used to compiled code, this is completely safe.<br>
<br>
<b>Defaults to:</b> True.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="TestMode" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Sets whether or not to run the build in "test mode". In test mode, the tasks are not actually executed. It should be used as a preview of the actual build process.<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="OeIncrementalBuildOptions">
    <xs:all>
      <xs:element minOccurs="0" maxOccurs="1" name="EnabledIncrementalBuild" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Sets whether or not the incremental build should be used.<br>
An incremental build improves the build process by only compiling and building source files that were modified or added since the last build. It is the opposite of a full rebuild.<br>
<br>
- The incremental build only concerns source files handled in a source build step.<br>
- If true, a build history is stored (in .xml format) to be able to know which file has been modified/added since the last build.<br>
- An analysis is done on compiled files to find referenced tables and files.<br>
- The MD5 checksum of each source file can be computed and saved to improve modification detection.<br>
- Depending on your build and your intentions, this can significantly improve the build performances or slow down systematic full rebuilds.<br>
<br>
<b>Defaults to:</b> True.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BuildHistoryInputFilePath" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The path to an xml file containing the information of the previous build. This is necessary for an incremental build.<br>
<br>
<b>Defaults to:</b> {{PROJECT_LOCAL_DIRECTORY}}\build\latest.xml.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BuildHistoryOutputFilePath" type="xs:string">
        <xs:annotation>
          <xs:documentation><![CDATA[The path to an xml file that will be created by this build and which will contain the information of that build. This is only generated after an incremental build.<br>
<br>
<b>Defaults to:</b> {{PROJECT_LOCAL_DIRECTORY}}\build\latest.xml.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="UseSimplerAnalysisForDatabaseReference" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Use a cheapest analysis mode (performance wise) to identify the database references of a compiled file.<br>
<br>
If true, the database references are not computed from the resulting xref file but simply using RCODE-INFO:TABLE-LIST.<br>
This method is less accurate because it will not list referenced sequences or referenced tables in LIKE TABLE statements. Even if a file does not need to be recompiled when a table referenced in a LIKE TABLE statement changes, it is smart to still recompile it and make sure that the database modification does not break the code.<br>
This option can be used on low-end computers but it is not advised to use this mode if it is not necessary.<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="UseCheckSumComparison" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Use a checksum comparison to identify the files that were modified between two builds.<br>
<br>
This identification technique is safer than a simple datetime/size comparison but it also costs more cpu time.<br>
By default, a file is considered unmodified if its size and last modified date has not changed since the previous build. This option also compute and consider the file checksum using the MD5 checksum computation.<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RebuildFilesWithNewTargets" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Sets whether of not the tool should rebuild a file if it has new targets defined since the last build.<br>
<br>
<b>Examples:</b><br>
  On the first build, the file "A" was compiled and copied to location "/bin". A new target "/bin2" is added and a second build is started:<br>
  - If this option is true, the file "A" is recompiled and built into "/bin2/A".<br>
  - If not, nothing happens (the file "A" has not been changed since the last build).<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RebuildFilesWithMissingTargets" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Sets whether of not the tool should rebuild a file if it some of its targets are missing (the file does not exist anymore).<br>
<br>
<b>Examples:</b><br>
  On the first build, the file "A" was compiled and copied to location "/bin". The file "A" is deleted and a second build is started:<br>
  - If this option is true, the file "A" is recompiled and built into "/bin/A".<br>
  - If not, nothing happens.<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RebuildFilesWithCompilationErrors" nillable="true" type="xs:boolean">
        <xs:annotation>
          <xs:documentation><![CDATA[Sets whether of not the tool should try to rebuild a file if it had compilation errors in the previous build.<br>
<br>
If the file has not been modified since the last build, there is little to no chance that it will successfully compile in the current build.<br>
But this can happen if the file didn't compile because the compilation database was outdated (missing a table needed in the procedure for instance).<br>
<br>
<b>Defaults to:</b> True.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:all>
  </xs:complexType>
  <xs:complexType name="OeGitFilterOptions">
    <xs:complexContent mixed="false">
      <xs:extension base="PathListerGitFilterOptions">
        <xs:all>
          <xs:element minOccurs="0" maxOccurs="1" name="IncludeSourceFilesModifiedSinceLastCommit" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:documentation><![CDATA[Build source files that were modified/added/deleted since the last commit.<br>
<br>
This include all the files in staging area as well as untracked files in the working directory. Basically, any file listed in a `git status` command.<br>
This is a good filter to build all the files you are about to commit (and thus check if they compile).<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="IncludeSourceFilesCommittedOnlyOnCurrentBranch" nillable="true" type="xs:boolean">
            <xs:annotation>
              <xs:documentation><![CDATA[Build source files that were modified/added/deleted in a commit that is exclusive to the current branch.<br>
<br>
The `git log` is used to identify which commits are referenced only by the current branch (or reference only by the any remote reference of the current branch). The files modified/added/deleted in these commits are then build.<br>
To rephrase this, we consider the commits from HEAD to the first commit that has a reference different than current_branch or any_remote/current_branch (aforementioned commit is not included).<br>
This option is useful to check if the changes you introduced with several commits in your branch do not break the build of your application.<br>
<br>
<b>Defaults to:</b> False.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="CurrentBranchName" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[The branch reference name for the current branch. To be used with IncludeSourceFilesCommittedOnlyOnCurrentBranch.<br>
<br>
This can be useful in CI builds where the CI checks out a repo in detached mode (it checks out a commit, not a branch).<br>
However, by default, if in detached mode, this tool tries to deduce the current branch by checking the first remote reference of the currently checked out commit. This will be sufficient in most cases, so this option can often be left empty.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="CurrentBranchOriginCommit" type="xs:string">
            <xs:annotation>
              <xs:documentation><![CDATA[The reference or SHA1 of the commit from which the current branch originated. To be used with IncludeSourceFilesCommittedOnlyOnCurrentBranch.<br>
<br>
Read the description of IncludeSourceFilesCommittedOnlyOnCurrentBranch to understand this option.<br>
This commit is generally found automatically but you can set its value to force a build between HEAD and a given commit.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PathListerGitFilterOptions" abstract="true" />
  <xs:complexType name="ArrayOfChoice3">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="1" name="BuildSource" nillable="true" type="OeBuildStepBuildSource">
        <xs:annotation>
          <xs:documentation><![CDATA[A list of tasks that will build the files in your project source directory.<br>
This type of step should be used for all the tasks that are affecting files in your source directory.<br>
<br>
<b>Examples:</b><br>
  For this type of step, the openedge compilation is sped up by compiling all the files required at the beginning of the step.<br>
  This is the main tasks list, where openedge files should be compiled.<br>
  The history of files built here can be saved to enable an incremental build.<br>
  A listing of the files in the source directory is done at the beginning of this step. Which means it would not be efficient to create 10 steps of 1 task each if those files are not changing between steps.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="BuildOutput" nillable="true" type="OeBuildStepBuildOutput">
        <xs:annotation>
          <xs:documentation><![CDATA[A list of tasks that should affect the files in your project output directory.<br>
<br>
<b>Examples:</b><br>
  These tasks can be used to 'post-process' the files built into the output directory.<br>
  A listing of the files in the output directory is done at the beginning of this step. Which means it would not be efficient to create 10 steps of 1 task each if those files are not changing between steps.<br>
  <br>
  Suggested usage:<br>
    - These tasks can be used to modify a configuration file copied from the source directory to the output directory.<br>
    - These tasks can be used to build a release zip file containing all the .pl of your release.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Free" nillable="true" type="OeBuildStepFree">
        <xs:annotation>
          <xs:documentation><![CDATA[A list of steps to build your application.<br>
<br>
Some facts:<br>
  - Each step contains a list of tasks.<br>
  - The sequential execution of these steps/tasks is called a build.<br>
  - Steps (and tasks within them) are executed sequentially in the order they were defined.<br>
  - A child configuration inherit the steps of its parent: they are executed before its own steps.<br>
            <br>
There are 3 kinds of steps:<br>
  - 'BuildSource' with tasks that will handle the files in your source directory (for instance, to compile procedures or copy configuration files).<br>
  - 'BuildOutput' with tasks that will handle the files in the build output directory (for instance, to create a .zip release of compiled files).<br>
  - 'Free' with tasks that will handle files outside of your source or output directory (for instance, to download dependencies before the compilation).<br>
<br>
<b>Examples:</b><br>
  This build step is referred as 'free' because, contrary other type of build step, it does not require to list the files in the source/output directory prior to running the tasks.<br>
  Instead, tasks in this step can handle files that are not necessarily located in your source directory (nor in your output directory).<br>
  <br>
  Suggested usage:<br>
    - These tasks can be used to "prepare" a build: downloading dependencies/packages or modifying certain source files.<br>
    - These tasks can be used to "deploy" a build: uploading a release zip file to a distant http or ftp server.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="OeBuildStepBuildSource">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeBuildStep">
        <xs:all>
          <xs:element minOccurs="0" maxOccurs="1" name="Tasks" type="ArrayOfChoice2">
            <xs:annotation>
              <xs:documentation><![CDATA[A list of tasks to build your source files.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AOeBuildStep" abstract="true">
    <xs:attribute name="Name" type="xs:string">
      <xs:annotation>
        <xs:documentation><![CDATA[The name of this build step. Purely informative.]]></xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="OeBuildStepFree">
    <xs:complexContent mixed="false">
      <xs:extension base="AOeBuildStep">
        <xs:all>
          <xs:element minOccurs="0" maxOccurs="1" name="Tasks" type="ArrayOfChoice1">
            <xs:annotation>
              <xs:documentation><![CDATA[A list of tasks.]]></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:all>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice1">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="1" name="Execute" nillable="true" type="OeTaskExec">
        <xs:annotation>
          <xs:documentation><![CDATA[This task starts a new external process.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Delete" nillable="true" type="OeTaskFileDelete">
        <xs:annotation>
          <xs:documentation><![CDATA[This task deletes files.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Cab" nillable="true" type="OeTaskFileArchiverArchiveCab">
        <xs:annotation>
          <xs:documentation><![CDATA[This task adds files into cabinet files.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="RemoveDirectory" nillable="true" type="OeTaskDirectoryDelete">
        <xs:annotation>
          <xs:documentation><![CDATA[This task deletes directories.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="OeBuildStepBuildOutput">
    <xs:complexContent mixed="false">
      <xs:extension base="OeBuildStepFree" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice2">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="0" maxOccurs="1" name="Copy" nillable="true" type="OeTaskFileCopy">
        <xs:annotation>
          <xs:documentation><![CDATA[This task copies files.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Prolib" nillable="true" type="OeTaskFileArchiverArchiveProlib">
        <xs:annotation>
          <xs:documentation><![CDATA[This task adds files into pro libraries (.pl).]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ReflectDeletedTargets" nillable="true" type="OeTaskReflectDeletedTargets">
        <xs:annotation>
          <xs:documentation><![CDATA[This task that deletes previous target files which have been removed since the last build. <br>
<br>
This task is only useful in incremental mode, where the history of files built is kept.<br>
<br>
<b>Examples:</b><br>
  On the first build, the file "A" was compiled and copied to location "/bin" as well as "/bin2".<br>
  The target "/bin" is deleted and a second build is started.<br>
  With this task, the compiled file "A" in "/bin/A" will be deleted.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="ReflectDeletedSourceFile" nillable="true" type="OeTaskReflectDeletedSourceFile">
        <xs:annotation>
          <xs:documentation><![CDATA[This task that deletes the previous target files of a source file that has been deleted since the last build.<br>
<br>
This task is only useful in incremental mode, where the history of files built is kept.<br>
<br>
<b>Examples:</b><br>
  On the first build, the file "A" was compiled and copied to location "/bin".<br>
  The file "A" is deleted and a second build is started.<br>
  With this task, the compiled file "A" in "/bin/A" will be deleted.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CompileInCab" nillable="true" type="OeTaskFileArchiverArchiveCabCompile">
        <xs:annotation>
          <xs:documentation><![CDATA[This task compiles openedge source files into rcode and adds them into cabinet files.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Cab" nillable="true" type="OeTaskFileArchiverArchiveCab">
        <xs:annotation>
          <xs:documentation><![CDATA[This task adds files into cabinet files.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="Compile" nillable="true" type="OeTaskFileCompile">
        <xs:annotation>
          <xs:documentation><![CDATA[This task compiles openedge source files to rcode.]]></xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="CompileInProlib" nillable="true" type="OeTaskFileArchiverArchiveProlibCompile">
        <xs:annotation>
          <xs:documentation><![CDATA[This task compiles openedge source files into rcode and adds them into pro libraries (.pl).]]></xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
</xs:schema>